<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/menu-item-01.jpg" class="img-fluid img-responsive"  alt="">
        <h4 class="my-3">Cake</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
       <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/menu-item-02.jpg"  class="img-fluid img-responsive" alt="">
        <h4 class="my-3">Pancake</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
       <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/menu-item-03.jpg"  class="img-fluid img-responsive" alt="">
        <h4 class="my-3">Baguette</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
    </div>
</div>
