<div class="container w-25 mt-3">
  <form #f="ngForm" [formGroup]="register">
    <h1 class="text-center mb-4">Register</h1>
    <div class="form-group">
      <label for="exampleInputName">Name :</label>

      <input
        formControlName="name"
        name="name"
        type="text"
        class="form-control"
        id="exampleInputName"
        placeholder="Enter Name"
      />
    </div>
    <div
      *ngIf="register.get('name')?.touched && register.get('name')?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="register.get('name')?.errors?.['required']">
        this field is empty
      </div>
      <div *ngIf="register.get('name')?.errors?.['minlength']">
        you must write at least 3 chars
      </div>
      <div *ngIf="register.get('name')?.errors?.['pattern']">
        you must write just the chars
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div
        class="alert alert-danger mt-2"
        *ngIf="register.get('email')?.touched && register.get('email')?.invalid"
      >
        <div *ngIf="register.get('email')?.errors?.['required']">
          Ce champ est obligatoire
        </div>
        <div *ngIf="register.get('email')?.errors?.['pattern']">
          this email invalid
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="alert alert-danger mt-2" *ngIf="register.get('password')?.touched && register.get('password')?.invalid">
      <div *ngIf="register.get('password')?.errors?.['required']">Ce champ est obligatoire</div>
      <div *ngIf="register.get('password')?.errors?.['minlength']">il faut ecrire au moins 6 chars</div>
    </div>

    <a routerLink="/relogin">
      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-block text-light"
      >
        Register
      </button></a
    >
  </form>
</div>
