<div class="container  pt-2">


  <a routerLink="/"><button class="btn ml-2">Show All  </button></a>
  <a routerLink="/patisserie"><button class="btn ml-2"> Patisserie    </button></a>
  <a routerLink="coffee"><button class="btn ml-2">Coffee</button></a>
  <a routerLink="salade"><button class="btn ml-2">Salade</button></a>
  
     <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
   <div class="btn-group" role="group">
     <button id="btnGroupDrop1" type="button" class="btn ml-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
       Contact
     </button>
     <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" routerLink="register">Register</a>
      <a class="dropdown-item" routerLink="login">Login</a>
     </div>
   </div>
 </div>
 
