<div class="container w-25 mt-3">
  <form #f="ngForm" [formGroup]="login">
    <h1 class="text-center mb-4"><span>L</span>ogin</h1>

    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        formControlName="name"
        type="name"
        name="name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div class="alert alert-danger" *ngIf="login.get('name')?.touched && login.get('name')?.invalid">
        <div *ngIf="login.get('name')?.errors?.['required']">ce champ est obligatoire</div>
        <div *ngIf="login.get('name')?.errors?.['minlength']">au moins 4 chars</div>
        <div *ngIf="login.get('name')?.errors?.['pattern']">il faut ecrire sauf les chiffres</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <div class="alert alert-danger" *ngIf="login.get('password')?.touched && login.get('password')?.invalid" >
        <div *ngIf="login.get('password')?.errors?.['required']">Ce champ est obligatoire</div>
        <div *ngIf="login.get('password')?.errors?.['minlength']">au mois 6 chars</div>
      </div>
    </div>
    <a routerLink="/register">j'ai oublie mot de passe</a>
    <button   [disabled]="f.invalid" type="submit" class="btn btn-block text-light mt-3">Login</button>
  </form>
</div>
