<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/salade1.jpg" class="img-fluid img-responsive"  alt="">
        <h4 class="my-3 text-center">Salade Algérienne</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
       <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/salade2.jpg"  class="img-fluid img-responsive" alt="">
        <h4 class="my-3 text-center">Salade Marocaine</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
       <div class="col-lg-4 col-md-4 col-xd-12">
        <img src="assets/images/salade3.jpg"  class="img-fluid img-responsive" alt="">
        <h4 class="my-3 text-center">Salade Tunnisienne</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minus quibusdam inventore natus ipsum vero explicabo placeat sint consequuntur dolor?</p>
       </div>
    </div>
</div>


